<p>
  Fill out the below form to sign up.
  For more information, visit our <%= link 'FAQ', '/faq' %>
</p>

<%= form('/signup', :post) %>
<h3>Input user name</h3>
<%= input(:user, :name) %>
<h3>Input user email</h3>

<%= input(:user, :email, :size => 40) %>
<h3>Input user password</h3>

<%= password(:user, :password) %>
<h3>Confirm user password</h3>
<%= password(:user, :password_confirmation) %>


<%= submit %>
